* {padding:0;margin:0;}
.slider {
	width:940px;
	height:333px;
<<<<<<< HEAD
	background:#292929;
=======
	/*background:#292929;*/
>>>>>>> ac7a205d8edc035a47ddb673b6a0fed2f6b1f461
	margin:0px;
}
.items {
	display:none;
}
.pagination {
	position:absolute;
	bottom:20px;
	left:294px;
	z-index:98;
}
.pagination ul {margin:0px 0px 0 0;}
.pagination li {float:left; margin:0 7px 0 0px; }
.pagination li a {height:13px; width:13px; display:block; background:url(../images/pagination.png) right 0 no-repeat; }
.pagination li.current a {
	background-position:left 0; 
}
.pagination li:hover a {
	background-position:left 0 ; 
}
.banner {display:block; position:absolute; left:685px; top:37px; z-index:99; width:235px;}
.banner p {}
.font-1 { font-size:45px; line-height:55px; color:#01a5ca; letter-spacing:-1px;}
.font-1 span {display:block; margin-top:-15px;}
.font-2 {font-size:17px; line-height:28px; color:#949494; margin-top:19px;}

.banner a {display:inline-block; background:#3f3f3f; font-size:14px; line-height:18px; color:#fff; text-transform:uppercase; padding:12px 27px 13px 27px; margin-top:30px;}
.banner a:hover {background:#01a5ca;}