/* Global properties ======================================================== */
html, body {width:100%; padding:0; margin:0;}

body {font: 14px/25px Arial, Helvetica, sans-serif;color:#292929;min-width:960px;background: url(../images/bg.gif) center 0 repeat;border-top:#292929 6px solid;}
.ic {border:0;float:right;background:#fff;color:#f00;width:50%;line-height:10px;font-size:10px;margin:-220% 0 0 0;overflow:hidden;padding:0}
.main {width:960px; margin:0 auto; position:relative;}
/***********************************************************************/
a {text-decoration:none; cursor:pointer;}
a:hover {text-decoration:none;}
a.button {background:#f4f4f4; font-size:14px; line-height:18px; color:#01a5ca; text-transform:uppercase; display:inline-block; padding:12px 16px 13px 16px; }
a.button:hover {background:#d3d1d1; color:#333; }

a.link {text-decoration:none; cursor:pointer; color:#01a5ca; }
a.link:hover {text-decoration:underline;}

.color-1 { color:#01a5ca;}
a.color-1:hover {color:#000;}

.font-3 {font-size:17px; line-height:33px; color:#292929;}

h2 { font-size:30px; line-height:36px; color:#292929; font-weight:normal; letter-spacing:-1px;}

ul {margin:0; padding:0;list-style-image:none;}
ul.list-1 li {padding:0px 0 5px 12px; line-height:25px; background:url(../images/marker-1.gif) 0 11px no-repeat;}
ul.list-1 li a { font-size:14px; color:#292929; line-height:25px;}
ul.list-1 li a:hover {color:#01a5ca;}

ul.list-2 li {padding:0px 0 5px 12px; line-height:25px; background:url(../images/marker-1.gif) 0 11px no-repeat;}
ul.list-2 li a { font-size:14px; color:#01a5ca; line-height:25px;}
ul.list-2 li a:hover { color:#292929;}

/******************************************************************/
.clear {clear:both; line-height:0; font-size:0; width:100%;}
.wrapper {width:100%; overflow:hidden; position:relative}
.wrap {
    overflow:hidden;
    position:relative;
    left: -30px;
}
.extra-wrap {overflow:hidden;}
.fleft {float:left;}
.fright {float:right;}
.img-indent {float:left; margin:3px 30px 0px 0;}
.last {margin-right:0px !important;}
.img-radius {border-radius:4px;}

.top-1 {padding-top:35px;}
.top-2 {padding-top:25px;}
.top-3 {margin-top:23px;}
.top-4 {margin-top:33px;}
.top-5 {margin-top:18px;}
.top-6 {margin-top:12px;}

.left-1 {padding-left:20px;}

.bot-0 {padding-bottom:0 !important; margin-bottom:0 !important;}

.pad-1 {margin:13px 0px 12px 0px;}

.p1 {padding-bottom:25px;}
.p2 {padding-bottom:5px;}
.p3-index {
    padding-top: 35px;
    padding-left: 45px;
    font-size: 18px;
    width: 303px;
}
.p4 {padding-bottom:15px;}
.p5 {padding-bottom:10px;}
.p6 {padding-bottom:20px;}

/*********************************header*************************************/
header {width:100%; z-index:101; position:relative; overflow:hidden; padding-bottom:17px;}

h1 {float:left; margin:23px 0 0px 29px;}
h1 a {font-size:53px; line-height:65px; color:#01a5ca; letter-spacing:1px; display:inline-block;}
h1 a strong {display:block; color:#292929; margin-top:-21px; font-weight:normal;}

.social-icons {overflow:hidden; text-align:right; margin-top:35px;}
.social-icons a {display:inline-block; width:23px; height:23px; float:right;}
.icon-1 {background:url(../images/icon-1.png) 0 0 no-repeat;}
.icon-2 {background:url(../images/icon-2.png) 0 0 no-repeat; margin-left:7px;}
.social-icons a:hover {background-position:0 bottom;}

nav {overflow:hidden; margin-right:30px;}
ul.menu {float:right; margin-top:39px;}
ul.menu li {float:left; line-height:20px; margin:0px 0 0px 44px;}
ul.menu li a {font-size:17px; line-height:22px; color:#292929; display:inline-block; }
ul.menu li a:hover, ul.menu li.current a {color:#01a5ca;}

.bg-img {background:url(../images/bg-img.gif) 0 0 no-repeat; width:150px; height:6px; position:absolute; top:-6px; left:-152px;}

/*********************************content*************************************/
#content {width:100%;}
.box-shadow {
    box-shadow: 0px 0px 5px #dbdbdb;
    background:#fff;
    padding: 20px 0;
}
.img-border {border:#f4f4f4 5px solid;}
.block-1 { padding:25px 30px 29px 44px;}
.block-2 { padding:0px 30px 45px 44px;}
.block-3 { padding:25px 30px 25px 44px;}
.col-1 {
    float:left;
    width:510px;
}
.col-2 {float:left; width:225px;}
.col-3 {float:left; width:225px; margin-right:50px; }
.col-4 {float:left; width:590px;}

#form-search {
    width: 650px;
}

.form-search {
    position: absolute;
    margin:268px 0px 0 3px;
    width:400px;

}
#form-search input {
    width:365px;
    border:#f4f4f4 1px solid;
    height:18px;
    font-family: Arial, Helvetica, sans-serif;
    font-size:14px;
    color:#5C5B5C;
    vertical-align:top;
    padding:11px 9px 12px 11px;
    display:inline-block;
    margin-top:19px;
}
.search_button {
    background:#f4f4f4;
    font-size:14px;
    line-height:18px;
    color:#01a5ca;
    text-transform:uppercase;
    display:inline-block;
    padding: 12px 28px 13px 24px;
    margin: 19px 0px 0 0;
}
.search_button:hover {background:#d3d1d1; color:#333; }

.box-2>div {float:left; width:170px; margin-right:30px;}
.box-2 p.color-1 {margin-top:5px;}
.border-1 {border-bottom:#e5e5e5 1px solid; padding-bottom:15px; margin-bottom:9px;}

/****************************footer************************/
footer { width:100%; position:relative; overflow:hidden; text-align:center; padding:32px 0 45px 0;}
footer p {color:#1e1e1e;}

/**********************form**********************/
.map {width:200px; height:200px; margin:20px 0 0 0;}
.map iframe {width:200px; height:200px;}
dl {margin:12px 0px 0 0px;}
dl dt {}
dl dd span { display:block; width:83px; float:left;}
dl dd {}
dl dd a {text-decoration:underline !important;}
dl dd a:hover {text-decoration:underline; color:#333;}
#form { margin: 20px 0 0px 0px; width:575px; }
#contact-form input {
    border:#f4f4f4 1px solid;
    background:#fff;
    font: 14px Arial, Helvetica, sans-serif;
    color:#bebebe;padding:11px 9px 13px 11px;
    outline: medium none;
    width: 278px;
    height:17px;
    margin-bottom: 15px;
}
#contact-form textarea {
    border:#f4f4f4 1px solid;
    background:#fff;
    font: 14px Arial, Helvetica, sans-serif;
    color:#bebebe;
    height: 192px;
    outline: medium none;
    overflow: auto;
    padding: 12px 0px 0px 11px;
    width: 562px;
    resize:none;
    margin:0 0 15px 0;
    float:left;
}
#contact-form .contactBtn{
    width: 100px;
    height: 40px;
    padding: 5px 0 5px 0;
    color: #01a5ca;
}


.right-sidebar {
    margin: 20px 0;
    width: 300px;
    float: right;
}
#contact-form label {position:relative;overflow:hidden;display: block;min-height:53px;}
.btns {text-align:right; width:575px; padding-top:10px;}
.btns a {display:inline-block; margin:0 0px 0 10px;}

/*окно приложения*/
.application{
    background: rgb(235, 236, 236);
    position: absolute;
    width: 550px;
    margin: 20px 0 0 0;
}
span.app_info_protein, span.app_info_fats, span.app_info_carbon {
    display: block;
    float: left;
    position: relative;
    width: 183px;
    background-color: cyan;
}
div.app_info_limit, div.app_info_total, div.app_info_balance {
    float: left;
    position: relative;
    width: 183px;
    background: rgb(174, 216, 233);
}

/** index registration form */

div.reg-form {
    float: right;
    width: 270px;
    height: 333px;
    position: relative;
}

.reg-form input {
    width: 230px;
    border: #f4f4f4 1px solid;
    height: 18px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #5C5B5C;
    vertical-align: top;
    padding: 11px 9px 12px 11px;
    display: inline-block;
    margin-top: 19px;
}
#login-form {
    margin: 36px 0 0 0;
}
#login-form .loginButton {
    width: 100px;
    height: 40px;
    padding: 5px 0 5px 0;
    color: #01a5ca;
    float: right;
    margin: 0 20px;
    background: #f4f4f4;
}
#login-form .loginButton:hover {
    color: #333;
    background: #d3d1d1;
    cursor: pointer;
}